.messages {
  overflow: hidden;
  width: 100%;
}

mat-sidenav-container {
  width: 100%;
  mat-sidenav {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    &.mobile {
      width: 60vw;
    }
  }
}
