<div class="whole">
  <img (click)="toggleNavbar()" src="../../../assets/chat-icon.svg">
  <input class="search-contacts" type="text" placeholder="Search contacts" />
  <button class="notification-btn" [matMenuTriggerFor]="notificationMenu">
    <mat-icon>notification_important</mat-icon>
  </button>
  <mat-menu #notificationMenu [yPosition]="'below'" class="notifications">
    <p>Contact requests:</p>
    <div class="menu" *ngFor="let request of (auth$ | async).user?.contactRequests">
      <zerju-contact-request (respondRequest)="respondRequest.next($event)" *ngIf="!request.responded" [request]="request"></zerju-contact-request>
    </div>
  </mat-menu>
  <img [matMenuTriggerFor]="profileMenu" class="profile" [src]="(auth$ | async).user?.image | image">
  <mat-menu #profileMenu [yPosition]="'below'">
    <div class="menu" fxLayout="column">
      <h3>{{(auth$ | async).user?.username}}</h3>
      <button (click)="logoutEvent.emit()">Logout</button>
    </div>
  </mat-menu>
</div>
