.create {
    max-width: 20vw;
    h2 {
        margin-top: 0;
    }
    p {
        margin: 0;
    }
    .error {
        color: red;
        font-size: 0.9em;
    }
    .buttons {
        button {
            margin: 10px;
            margin-bottom: 0;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
