<div fxLayoutAlign="start center" class="participants" fxLayout="row">
  <img class="participant-pic" src="../../../assets/profile/profile-pic.png">
  <h2 class="participant-name">Jure Žerak</h2>
</div>
<div class="messages" fxLayout="column">
  <div *ngFor="let message of messages;let i = index">
    <div *ngIf="!message.send" class="images">
      <img *ngIf="i>0 && message.send !== messages[i - 1].send;else imagewidthplaceholder" class="messages-pic" src="../../../assets/profile/profile-pic.png">
      <img *ngIf="i === 0" class="messages-pic" src="../../../assets/profile/profile-pic.png">
    </div>
    <ng-template #imagewidthplaceholder>
      <div *ngIf="i !== 0" class="image-width-placeholder">

      </div>
    </ng-template>
    <div [ngClass]="{'recieve': !message.send, 'send': message.send}">
      <p>{{message.value}}</p>
    </div>
  </div>

</div>
<div class="send-text">
  <textarea placeholder="Say something..."></textarea>
</div>
