<div class="contacts">
  <div fxLayoutAlign="start center" class="buttons">
    <button matTooltip="Online" [ngClass]="{'active': visibility === 0}" (click)="showContacts(0)" class="tab-button my-button">Online</button>
    <button matTooltip="Offline" [ngClass]="{'active': visibility === 1}" (click)="showContacts(1)" class="tab-button my-button">Offline</button>
    <button matTooltip="Group" [ngClass]="{'active': visibility === 2}" (click)="showContacts(2)" class="tab-button my-button">Group</button>
    <button matTooltip="All" [ngClass]="{'active': visibility === 3}" (click)="showContacts(3)" class="tab-button my-button">All</button>
    <button (click)="addContactEvent.next()" matTooltip="Add Friend" class="icon-button">
      <mat-icon>person_add</mat-icon>
    </button>
    <button matTooltip="Create Group" (click)="onCreateGroupEvent.next()" class="icon-button">
      <mat-icon>group_add</mat-icon>
    </button>
  </div>
  <div class="contact-list" *ngIf="shownContacts" fxLayout="column">
    <div [matTooltip]="contact.username" (click)="onSelectEvent.next(contact)" *ngFor="let contact of shownContacts" [ngClass]="{'selected' : selected && selected.id === contact.id}"
      fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="contact">
      <img [src]="contact.image | image" class="contact-pic">
      <p class="contact-name">{{ contact.username }}</p>
      <div class="available" [ngClass]="{'online' : contact.statuses.online}"></div>
    </div>
  </div>
</div>
