.contacts {
    min-width: 15vw;
}

.buttons {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    width: 15vw;
    button {
        &.icon-button {
            border-bottom: none;
            border-top: none;
            padding: 1px 6.5px;
        }
        &.tab-button {
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-bottom: none;
            border-top: none;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.2);
            }
            &.active {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.contact-list {
    overflow-y: auto;
    .contact {
        position: relative;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.24);
        }
        &.selected {
            background-color: rgba(0, 0, 0, 0.06);
            &:hover {
                background-color: rgba(0, 0, 0, 0.12);
            }
        }
        .contact-pic {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        .contact-name {
            margin: 0;
            padding: 0;
            max-width: 50%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .available {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 10px;
            margin-left: auto;
            background-color: #9E9E9E;
            &.online {
                background-color: #64DD17;
            }
        }
    }
}

@media screen and (max-width: 1700px) and (min-width: 800px) {
    .contacts {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .buttons {
        flex-direction: column !important;
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        width: unset;
        height: 100%;
        button {
            border: none;
            width: 100%;
            &.tab-button {
                border: none;
            }
        }
    }
    .contact-list {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
    .contact-list {
        .contact {
            .contact-name {
                display: none;
            }
            .contact-pic {
                margin: auto;
            }
        }
    }
}
