@import './variables';
@import './mixins';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0;
}

.icon-button {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #A1887F;
  outline: 1px solid slategrey;
}

.my-button {
  padding: 7px 5px;
  background-color: #FFF;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  cursor: pointer;
  &:disabled {
    background-color: rgba(0, 0, 0, 0.02);
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  &.primary {
    font-weight: 600;
  }
}

input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 5px;
}

.ignore-padding {
  padding: 0;
}

article {
  height: 87vh;
}

@media screen and (max-width: 800px) {
  article {
    height: 90vh;
  }
}
