<div>
  <h3>Add a contact</h3>
  <div fxLayoutGap="10px" fxLayout="row">
    <input (input)="input = $event.target.value" placeholder="Contact name">
    <button (click)="findContacts()">Find</button>
  </div>
  <div *ngIf="foundContacts.foundContacts && foundContacts.foundContacts.length > 0 && searched;else notFound" fxLayouAlign="center center">
    <div *ngFor="let contact of foundContacts.foundContacts" class="contact" fxLayout="row">
      <p fxLayoutAlign="start center" fxFlex="50">{{contact.username}}</p>
      <button (click)="addContact(contact)" class="icon-button">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>
  <ng-template #notFound>
    <p *ngIf="searched">No contacts found</p>
  </ng-template>
</div>